<h3> Create a new workout! </h3>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<%= form_for @workout do |f| %>
<div class="row">
  <div class="col-md-6 mb-3">
    <%= f.label :name, value: "Name of workout" %>
    <%= f.text_field :name, value: "Workout on #{Date.today.strftime("%m/%d/%Y")}", class: "form-control" %>
  </div>
  <div class="col-md-6 mb-3">
    <%=f.label :day %>
    <%= f.date_field :day, value: "#{Date.today}", class: "form-control" %>
  </div>
</div>

<div class="mb-3">
  <p>Exercises</p>
  <%= f.collection_check_boxes :exercise_ids, @exercises, :id, :name do |b| %>
    <%= b.label class:"label-checkbox" do %>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <%= b.check_box type: "checkbox" %>
          </div>
        </div>
        <div class="form-control">
          <%= b.text%>
        </div>
      </div>
    <%end%>
  <% end %>
</div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
