<h1><%= @workout.name %></h1>

<h4><%= "#{@workout.user.username} worked out " %><%= @workout.day.strftime("on %m/%d/%Y") if @workout.day %></h4><br>

<% @workout.exercise_workouts.each do |e_w| %>
  <% exercise = e_w.exercise %>
  <%= link_to exercise.name, exercise %>
  <%= "Reps: #{e_w.reps} |" if e_w.reps %>
  <%= "Weight: #{e_w.weight} |" if e_w.weight %>
  <%= "Duration: #{e_w.duration} mins |" if e_w.duration %>
  <%= "Distance: #{e_w.distance} |" if e_w.distance %>
  <br>
<% end %>
<br>
<div class="btn-group-sm" role="group">
  <% if @workout.user == current_user %>
    <a href="<%=edit_workout_path(@workout) %>" role="button" class="btn btn-secondary">Edit this workout</a>
  <% end %>
  <a href="<%=workouts_path %>" role="button" class="btn btn-secondary">Access all your workouts</a>
</div>
