<h1><%= @workout.name %></h1>

<h3><%= "#{@workout.user.username} worked out " %><%= @workout.day.strftime("on %m/%d/%Y") if @workout.day %></h3><br>

<% @workout.exercise_workouts.each do |e_w| %>
  <% exercise = e_w.exercise %>
  <%= link_to exercise.name, exercise %>
  <%= "Reps: #{e_w.reps} |" if e_w.reps %>
  <%= "Weight: #{e_w.weight} |" if e_w.weight %>
  <%= "Duration: #{e_w.duration} mins |" if e_w.duration %>
  <%= "Distance: #{e_w.distance} |" if e_w.distance %>
  <br>
<% end %>

<% if @workout.user == current_user %>
  <a role="button" href="<%=edit_workout_path(@workout) %>" class="btn btn-light">Edit this workout</a>
<% end %>
