<h1>Edit Account</h1>

<% if flash[:errors] %>
  <h3>Errors</h3>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user, url: user_path, html: { multipart: true } do |f| %>
  <div class="mb-3">
    <%= f.label :avatar %><br>
    <label class="btn btn-primary btn-sm">
      Choose File
      <span style="display:none;">
        <%= f.file_field :avatar %>
      </span>
    </label>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-3">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
      <%= f.label :height %><br>
      <%= f.collection_select :height, @heights, :to_s, :to_s, { :include_blank => true }, {class: 'form-control', placeholder: 'Choose Height'} %>
    </div>

    <div class="col-md-4 mb-3">
      <%= f.label :weight %>
      <%= f.number_field :weight, class: "form-control" %>
    </div>

    <div class="col-md-4 mb-3">
      <%= f.label :age %>
      <%= f.number_field :age, class: "form-control" %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>
