<div class="container-fluid" align="center">
  <%if @users.size == 0 %>
    <h1>No results, please try a different search.</h1>
  <%elsif @users.size > 1 %>
    <h1>All Users</h1>
  <% end %>

  <br>

  <div class='row'>
    <% @users.each do |user| %>
      <% unless user.username == current_user.username %>
        <div class='col-md-3'>
          <div class='card mb-3 box-shadow'>
            <a href="users/<%= user.id %>"><img src="<%= user.picture %>", height="100%", width="100%", display: block, class: img-rounded></a>
            <div class="card-body">
              <h5 class="card-text">@<%= link_to user.username, user %></h5>
              <div class="align-items-center">
                <div class="btn-group">
                  <% if current_user.friends.include?(user) %>
                    <%= link_to "Unfollow", friendship_path(user), :method => :delete, :class => "btn btn-sm btn-outline-secondary" %>
                  <% elsif user.username != current_user.username %>
                    <%= link_to "Follow", friendships_path(:friend_id => user), :method => :post, :class => "btn btn-sm btn-outline-secondary"%>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
