<h1><%= @user.full_name %></h1>

<% if session[:user_id] == @user.id %>
  <p>HI this is you!</p>
  <p>user profile editing functionality goes here</p>

  <h3>My Friends</h3>

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

  <ul>
    <% if @user.friendships != [] %>
      <% @user.friendships.each do |f| %>
        <li><%= link_to f.friend.username, f.friend %> - <%= link_to "Remove Friend", friendship_path(:friend_id => f), :method => :delete %></li>
      <% end %>
    <% else %>
      <p>You currently don't have any friends. Add some <%= link_to "here!", users_path %></p>
    <% end %>

  </ul>

<% end %>
