<h1><%= @user.full_name %></h1>
<% if @user == current_user %>
  <a role="button" href="<%= edit_user_path %>" class="btn btn-primary btn-sm">Edit Account</a>
<% else %>
  <% if current_user.friends.include?(@user) %>
    <a role="button" href="<%= friendship_path %>" data-method="delete" class="btn btn-light">Unfollow</a>
  <% else %>
    <a role="button" href="<%= friendships_path(friend_id: @user) %>" data-method="post" class="btn btn-light">Follow</a>
  <% end %>
<% end %>

<% if @user.friendships != [] %>
  <h3>Following:</h3>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
    <ul>
      <% @user.friendships.each do |f| %>
        <li><%= link_to f.friend.username, f.friend %></li>
      <% end %>
    </ul>
  <% end %>

<% if @user.inverse_friends != [] %>
  <h3>Followers:</h3>
    <ul>
      <% @user.inverse_friends.each do |f| %>
        <li><%= link_to f.username, f %></li>
      <% end %>
    </ul>
<% end %>
