<div class="col-md-12 col-xs-12" align="center">
  <% if @user.picture %>
    <%= image_tag @user.picture, :class => "image-circle" %>
  <% else %>
    <%= image_tag @user.avatar.url(:medium) %>
  <% end %>

  <h1><%= @user.full_name %></h1>

  <!-- IF USER PAGE BELONGS TO CURRENT_USER -->

  <% if @user == current_user %>
    <a class="btn btn-primary btn-sm" href="<%= edit_user_path %>"> Edit Acount</a>
    <a class="btn btn-primary btn-sm" href="<%= new_workout_path %>"> Create Workout</a>
  <% else %>
    <% if current_user.friends.include?(@user) %>
      <a role="button" href="<%= friendship_path %>" data-method="delete" class="btn btn-light">Unfollow</a>
    <% else %>
      <a role="button" href="<%= friendships_path(friend_id: @user) %>" data-method="post" class="btn btn-light">Follow</a>
    <% end %>
  <% end %>

    <div class="container-fluid" data-toggle="collapse">
      <div class="col-md-12 col-xs-12" align="center" data-toggle="collapse">
        <div class="btn-group btn-group-justified" align-items-center>
            <div class="btn-group" onclick="#">
              <button type="button" class="btn btn-primary-outline" data-toggle="collapse">
                <span class="glyphicon glyphicon-user" data-toggle="collapse"></span>
        			  <h4><%= current_user.total_workouts %></h4>
                <p># workouts </p>
              </button>
            </div>

            <div class="btn-group" onclick="#" data-toggle="collapse">
              <button type="button" class="btn btn-primary-outline" data-toggle="collapse">
                <span class="glyphicon glyphicon-time" data-toggle="collapse"></span>
        			  <h4><%= current_user.total %></h4>
                <p># total time (mins)</p>
              </button>
            </div>

            <div class="btn-group" onclick="#" data-toggle="collapse">
              <button type="button" class="btn btn-primary-outline" data-toggle="collapse">
                  <span class="glyphicon glyphicon-usd" data-toggle="collapse"></span>
                  <h4><%= current_user.cardio_by_percentage %></h4>
                  <p> % cardio </p>
              </button>
            </div>

            <div class="btn-group" onclick="#" data-toggle="collapse">
              <button type="button" class="btn btn-primary-outline" data-toggle="collapse">
                <span class="glyphicon glyphicon-cog"></span>
                <h4><%= current_user.strength_by_percentage %></h4>
                <p> % strength </p>
              </button>
            </div>

            <div class="btn-group" onclick="#" data-toggle="collapse">
              <button type="button" class="btn btn-primary-outline" data-toggle="collapse">
                <span class="glyphicon glyphicon-question-sign" data-toggle="collapse"></span>
                <h4><%= current_user.favouritexercise.name %></h4>
                <p> Fav Ex </p>
              </button>
            </div>

            <div class="btn-group" onclick="#" data-toggle="collapse">
              <button type="button" class="btn btn-primary-outline" data-toggle="collapse">
                <span class="glyphicon glyphicon-question-sign" data-toggle="collapse"></span>
                <h4><%= current_user.friends.count %></h4>
                <p> Following </p>
              </button>
            </div>

            <div class="btn-group" onclick="#" data-toggle="collapse">
              <button type="button" class="btn btn-primary-outline"data-toggle="collapse">
                <span class="glyphicon glyphicon-question-sign" data-toggle="collapse"></span>
                <h4><%= current_user.inverse_friends.count %></h4>
                <p> Followed By </p>
              </button>
            </div>
        </div>
      </div>
    </div>

  <hr>

  <% if @user == current_user %>
    <div class="col-md-12 col-xs-12">
      <h3> Followee's Workouts </h3>
      <div class='row'>
        <% @user.friends.collect do |friend| %>
          <div class='col-md-3'>
            <div class='card mb-3 box-shadow' bg-light text-dark>
              <%= image_tag "#{friend.picture if friend.picture}", class: "img-thumbnail"%>
              <div class="card-body bg-light text-dark" >
                <h3 class="card-text"> <%= link_to friend.username.capitalize, user_path(friend)%> </h3>
                <p>Most Recent Workout:
                <% x = friend.workouts.last %><br>
                <%= link_to x.name, workout_path(x) %><br>
                Comments: <%= x.comments.count %><br>
                Strength: <%= friend.strength_by_percentage %> %<br>
                Cardio: <%= friend.cardio_by_percentage %> %</p>
                <a class="btn btn-primary btn-sm" href="<%=new_workout_comment_path(x) %>">Add Comment</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>



  <div class="container">
    <h3>Latest Workouts</h3>
      <div class='row'>
        <% @user.workouts.each do |workout| %>
         <div class='col-md-3'>
         <div class='card mb-3 box-shadow'>
           <div class="card-body">
             <h5 class="card-text"><%= link_to workout.name.capitalize, workout_path(workout) %> </h5>
               <% day = workout.day.strftime("%m/%d/%Y") if workout.day %>
               <p>Date Completed: <%= "#{day} " %>
               StengthCount: <%= @user.strengthcount %>
               CardioCount: <%= @user.cardiocount %></p>
             <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                 <button type="button" class="btn btn-sm btn-outline-secondary" href= "<%= workout_path(workout)%>">View</button>
                 </p>
               </div>
             </div>
           </div>
         </div>
       </div>
     <% end %>
   </div>
  </div>

  <hr>

  <div class="container">
    <div class='row'>
      <% if @user.friendships != [] %>
        <div class="col-md-3" align="left">
          <h3>Following:</h3>
          <ul>
            <% @user.friendships.each do |f| %>
              <li><%= link_to f.friend.username, f.friend %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if @user.inverse_friends != [] %>
        <div class="col-md-3" align="left">
          <h3>Followers:</h3>
          <ul>
            <% @user.inverse_friends.each do |f| %>
              <li><%= link_to f.username, f %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

</div>
